@tailwind base;
@tailwind components;
@tailwind utilities;





.smoothBar::-webkit-scrollbar {
    width: 5px;
}

.smoothBar::-webkit-scrollbar-thumb {
    background-color: #8c8c8c;
    border-radius: 5px;
}